body{
 background:darkslategray;
 color:lightslategray;
 display: flex;
 justify-content: center;
 align-items: center;
 height:100vh;
}
#container{
 color:white;
}
.digit{
 font-size:150px;
 font-weight:bold;
 margin-bottom:1rem;
}
.text{
 font-size:40px;
 font-weight:bold;;
}
#button-con{
 text-align: center;
 
 margin-top: 40px;
 
}
.btn{
 padding: 7px 25px;
 font-size: 15px;
 color: #fff;
 margin: 0px 10px;
 border: 0px;
 cursor:pointer;
}
#start{
background-color: aqua;
}
#stop{
 background-color: blue;
}
#reset{
 background-color:red;
}